*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: 133px auto;
  display: flex;
  align-items: flex-end;
  height: 534px;
  gap: 30px;
}

.result__video-container {
 margin-bottom: 16px;
 position: relative;
}

.result__video {
  width: 711px;
 height: 386px; 
 object-fit: cover;
 object-position: center;

}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list {
 max-height: 298px;
  overflow: auto;
  position: relative;
}

.content__list-item:not(:nth-child(5)) {
  margin-bottom: 30px;
}

.content__details {
  flex-grow: 1;
  align-self: stretch;
}

.content__video-card {
display: flex;
align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
height: 103px;
object-fit: cover;
object-position: center;
}

.content__video-card-description-container{
  flex-grow: 1;
}
