*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


.content {
display: flex;
align-content: end;
gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 40px;
align-items: start;
}

.content__list {
  block-size: 534px;
  overflow: auto;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
}