*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}



ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  margin-block-start: 15px;
  margin-inline-start: 15px;
  /* inline-size: 534px; */
}

.result__video-container {
  position: relative;
  margin-block-end: 11px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 711px;
  block-size: 386px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__label-text {
  padding-inline-start: 5px;
}

.search-form__fieldset-title {
  color: #fff;
  font-size: 18px;
  padding-block-end: 5px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__textfield {
  inline-size: 225px;
  appearance: none;
  color: #fff;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  top: 3px;
  left: 2px;
}

.content__card-link {
  display: block;
  margin: 0 2px;
}

.button:active,
.content__card-link:active {
  background-color: #545050;
}

.button:focus,
.content__card-link:focus,
.search-form__label:focus,
.search-form__textfield:focus {
  outline: none;
}

.button:hover,
.content__card-link:hover,
.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

.button:focus-visible,
.content__card-link:focus-visible,
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.content__list::-webkit-scrollbar-thumb {
  background-color: #545050;
}

.content__list::-webkit-scrollbar {
  inline-size: 5px;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  font-size: 18px;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  color: #fff;
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  text-align: center;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #fff;
  inline-size: 194px;
  block-size: 34px;
}

.search-form__submit-button {
  align-self: flex-end;
}

.more-button {
  display: block;
  inline-size: 100%;
}

.title {
  color: #fff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  margin-block-end: 22px;
  margin-block-start: 4px;
}

.content__accent {
  color: #545050;
}

.content__list {
  max-block-size: 298px;
  overflow: auto;
  position: relative;
}

.content__list-item:not(:last-of-type) {
  margin-block-end: 36px;
}

.content__details {
  flex-grow: 1;
  align-self: stretch;
  max-inline-size: 399px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  color: #fff;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-inline-size: 200px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content__card-link_current {
  position: relative;
}

.content__card-link_current::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: #545050;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: -1;
}


